<!DOCTYPE html>
<html>
<head>
    <title>Search History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Weather Search History</h1>

{% if data %}
    <table border="1">
        <tr>
            <th>City</th>
            <th>State/Region</th>
            <th>Temp</th>
            <th>Condition</th>
            <th>Timestamp</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No searches yet</p>
{% endif %}
<a href="/">Back to search</a>
</body>
</html>