<!DOCTYPE html>
<html>
<head>
  <title>Weather Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>Current Weather</h1>

  <p>{{ data.city }}, {{ data.admin1 }}</p>
  <p>{{ data.current.temp }}°F</p>
  <p>{{ data.current.condition }}</p>

  <h2>Weather Forcast</h2>

  {% for item in data.forecast %}
    <p>{{ item.time }} - {{ item.temp }}°F - {{ item.condition }}</p>
  {% endfor %}

  <a href="/">Back to search</a>
</body>
</html>